{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.mdb.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-dark">mdb</h1>

        <div class="carousal slide" data-ride="carousal">
            <div class="carousal-inner">
                <div class="carousal-item">
                    <img src="{% static 'images/anil.jpeg' %}" alt="">
                </div>
                <div class="carousal-item">
                    <img src="{% static 'images/heros.jpg' %}" alt="">
                </div>
                <div class="carousal-item">
                    <img src="{% static 'images/ANUSHA.jpeg' %}" alt="">
                </div>

            </div>

        </div>
    </center>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/boostrap.js' %}"></script>
<script src="{% static 'js/mdb.js' %}"></script>


<script>
    


    
</script>
    
</body>
</html>